<%= form_with model: book do |f| %>
  <% if book.errors.any? %>
    <div class="form-errors">
      <h3><%= pluralize(book.errors.count, "error") %> prevented this book from saving:</h3>
      <ul>
        <% book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-grid">
    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title, placeholder: "Atomic Habits" %>
    </div>

    <div class="field">
      <%= f.label :author %>
      <%= f.text_field :author, placeholder: "James Clear" %>
    </div>

    <div class="field field--full">
      <%= f.label :isbn %>
      <%= f.text_field :isbn, placeholder: "9780735211292" %>
    </div>
  </div>

  <div class="form-actions">
    <%= link_to "Cancel", books_path, class: "button button--ghost" %>
    <%= f.submit class: "button button--primary" %>
  </div>
<% end %>
