
<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) || "My App" %></title>

  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
</head>

<body>
  <header>
    <h1>My App Header</h1>
    <li class="<%= 'active' if current_page?(root_path) %>">
  <%= link_to "Home", root_path %>
</li>
    <%= link_to "Posts", posts_path %>&nbsp;&nbsp;
    <%= link_to "Dashboard", admin_dashboard_path%>&nbsp;&nbsp;
    <%= link_to "Contact", contact_path %>&nbsp;&nbsp;
    <%= link_to "Users", user_path %>&nbsp;&nbsp;
  </header>

  <hr>

  <%= yield %>

  

  <footer>
    <p>All right reserverd</p>
  </footer>
</body>
</html>