<div class="container">
  <h1>Issue Book</h1>

  <%= form_with model: @issue do |f| %>
    <%= f.collection_select :user_id, User.all, :id, :name %>
    <%= f.collection_select :book_id, Book.where(available: true), :id, :title %>
    <%= f.date_field :issue_date %>
    <%= f.submit %>
  <% end %>
</div>