<%= turbo_frame_tag dom_id(legend) do %>
  <article class="legend-card">
    <% if legend.cover_image? %>
      <%= image_tag legend.cover_image.thumb.url, alt: legend.title, class: "legend-card__image" %>
    <% end %>

    <div class="legend-card__body">
      <h3 class="legend-card__title"><%= legend.title %></h3>
      <p class="legend-card__location"><%= legend.location %></p>
      <p class="legend-card__meta">Credibility: <%= legend.credibility_score %>/10</p>
    </div>

    <p class="page-actions">
      <%= link_to "Show", legend, class: "button button--secondary", data: { turbo_frame: "_top" } %>
      <%= link_to "Edit", edit_legend_path(legend), class: "button", data: { turbo_frame: "_top" } %>
      <%= link_to "Delete", legend, class: "button button--danger", data: { turbo_method: :delete, turbo_confirm: "Sure?" } %>
    </p>
  </article>
<% end %>
