<h1>Urban Legends</h1>

<%= link_to "New Legend", new_legend_path, class: "button" %>

<h2>Search Legends</h2>

<%= search_form_for @q, html: { class: "search-form", data: { turbo_frame: "legends_results" } } do |f| %>
  <div class="search-form__field">
    <%= f.label :title_cont, "Title" %>
    <%= f.search_field :title_cont %>
  </div>

  <div class="search-form__field">
    <%= f.label :location_cont, "Location" %>
    <%= f.search_field :location_cont %>
  </div>

  <div class="search-form__actions">
    <%= f.submit "Search", class: "button" %>
    <%= link_to "Clear", legends_path, class: "button button--secondary" %>
  </div>
<% end %>


<hr>

<h1 style="text-align: center;">Legend's</h1>
<%= turbo_frame_tag "legends_results" do %>
  <%= render "results" %>
<% end %>
