<h1>Urban Legends</h1>

<%= link_to "New Legend", new_legend_path %>

<h2>Search Legends</h2>

<%= search_form_for @q, html: { data: { turbo_frame: "legends_results" } } do |f| %>
  <div>
    <%= f.label :title_cont, "Title" %>
    <%= f.search_field :title_cont %>
  </div>

  <div>
    <%= f.label :location_cont, "Location" %>
    <%= f.search_field :location_cont %>
  </div>

  <%= f.submit "Search" %>
  <%= link_to "Clear", legends_path %>
<% end %>

<hr>

<%= turbo_frame_tag "legends_results" do %>
  <%= render "results" %>
<% end %>
